/*    Codecademy: Colmar Academy            */
/*    Theme by Gerret Geilich (@darthrox)   */

/* !COLORS: green palette (mono 5 colors)
    lighter:  #88CC88
    light:    #55AA55
    main:     #2D882D
    dark:     #116611
    darker:   #004400
*/
/* INITIAL HIDE MOBILE */
.navMobile {
  display: none;
}
/* !GENERAL */
html {
  font-size: 16px;
}
span {
    font-family: 'Lato', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  font-size: 3rem;
  line-height: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 3rem;
}
a {
  font-size: 1rem;
  color: #116611;
  text-decoration: none;
}
a:hover {
  color: #55AA55;
  text-decoration: underline;
}
button {
  align-self: center;
  margin-top: 2rem;
  width: 50%;
  height: 3rem;
  border: 2px solid #111;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  color: white;
  background-color: #333;
  transition: background-color 250ms linear;
}
button:hover {
  background-color: #55AA55;
}
/* !DISPLAY: Flex */
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
/* !HEADER */
header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  height: 4rem;
  background-color: #FFF;
  opacity: 0.9;
}
.headerLogo {
  display: flex;
  align-items: center;
  width: 40%;
}
.headerLogo img {
  margin-left: 1.5rem;
  height: 2rem;
  width: auto;
}
.headerLogoDesc_01 {
  color: #2D882D;
  font-size: 1.5rem;
}
.headerLogoDesc_02 {
  color: #111111;
  font-size: 1.5rem;
}
/* !HEADER: navDesktop */
.navDesktop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navLink {
  margin-right: 1rem;
}
.navLink:last-child {
  margin-right: 1.5rem;
}
/* !MAIN */
main {
  margin-top: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #116611;
}
.row {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 960px;
  border-left: 1px solid #116611;
  border-right: 1px solid #116611;
}
/* !FIRST ROW: Banner with headline */
.firstRowImage {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 2rem;
  width: 60%;
}
.firstRowImage img {
  max-width: 100%;
  height: auto;
}
.firstRowText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1.5rem;
}
.firstRowText span {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
/* !SECOND ROW: Main Article */
.secondRowMainArticle {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.secondRowMainArticleImage {
  margin: 32px 24px;
}
.secondRowMainArticleImage img {
  max-width: 100%;
  height: auto;
}
.secondRowMainArticleContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 24px 32px 24px;
  width: auto;
  height: 100%;
}
.secondRowMainArticleContent span {
  line-height: 1.75rem;
  font-size: 1rem;
  color: #AAA;
  margin-top: 2rem;
}
span.author {
  color: #999999;
  font-size: 1rem;
}
.secondRowArticles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  border-left: 1px solid #116611;
}
.sRA_article {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #116611;
}
.sRA_articleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: 1rem;
}
.sRA_articleContent h4 {
  font-size: 1.25rem;
  font-weight: bold;
}
.sRA_articleContent span {
  font-size: 0.75rem;
  color: #AAA;
  margin-top: 1rem;
}
.sRA_articleImage {
  width: 35%;
  margin: 1rem;
}
.sRA_articleImage img {
  max-width: 100%;
  height: auto;
}
/* !THIRD ROW: Start Learning */
.third {
  background-color: #B9F1B9;
}
.thirdRowHeadline {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}
.thirdRowArticles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 4.5rem 0rem 4.5rem;
}
.tRA_body {
  max-width: 250px;
  background-color: #FFF;
  margin-bottom: 2rem;

}
.tRA_Content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.tRA_Image {
  
}
.tRA_Image img {
  max-width: 100%;
  height: auto;
}
.tRA_headLine {
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
}
.tRA_subHeadLine {
  margin-top: 0.5rem;
}
.tRA_text {
  font-size: 0.75rem;
  color: #AAA;
  margin-top: 0.5rem;
}
/* !FOURTH ROW: Thesis exhibit */
.fourth {
  background-color: #EEFFEE;
  flex-wrap: wrap;
}
.fourthRowHeadline {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;  
  text-align: center;
}
.fourthRowMainArticle {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0rem 1.5rem 2rem 1.5rem;
}
.fourthRowMainArticleImage {

}
.fourthRowMainArticleImage img {
  max-width: 100%;
  height: auto;
}
.fourthRowMainArticleContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem 1.5rem 2rem 1.5rem;
  width: auto;
  height: 100%;
}
.fourthRowMainArticleContent span {
  line-height: 1.75rem;
  font-size: 1rem;
  color: #AAA;
  margin-top: 2rem;
}
.fourthRowArticles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}
.fRA_article {
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: background-color 250ms linear;
}
.fRA_article:hover {
  background-color: #116611;
}
.fRA_articleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: 1rem;
}
.fRA_articleContent h4 {
  font-size: 1.25rem;
  font-weight: bold;
}
.fRA_articleContent span {
  font-size: 0.75rem;
  color: #AAA;
  margin-top: 1rem;
}
.fRA_articleImage {
  width: 35%;
  margin: 1rem;
}
.fRA_articleImage img {
  max-width: 100%;
  height: auto;
}
/* !FOOTER */
footer {
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #116611;
  font-size: 0.75rem;
}
.footerCopyright {
  margin: 1rem 1.5rem;
}
.footerLinks {
  margin: 1rem 1.5rem;

}
.footerLinks a {
  margin-left: 1rem;
  font-size: 0.75rem;
}

/* !MEDIA QUERIES */

